html{
    font-family: 'Inter', sans-serif;
}

body h1{
    font-size: 40px;
}

body p, body span, body input, body button{
    font-size: 16px;
}
body a, body label{
    font-size: 20px;
}

body p{
    color: #2F2E41;
}

body a{
    color: #6C63FF;
}


button:active {
    background-color: #FF6584;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    margin-top: 5%;
    grid-area: 1 / 1 / 2 / 2; 
}

#contenedor{
    margin-top: 5%;
    height: 90%;
    box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    -webkit-box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#parSel{
    text-align: center;
    padding-top: 2%;
    /* padding-bottom: 2%; */
    padding-bottom: .5%;
}

#opciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#medicos, #especialidad, #obraSocial {
    border-radius: 10px;
    width: 30%;
    font-size: .6rem;
}

select {
    background-color: #E8E8E8;
}

footer{
    margin: 0;
    width: 100%;
    height: 5%;
    bottom: 10%;
}

body button{
    background-color: #6C63FF;
    border-radius: 50px;
    color: white;
    height: 3em;
    width: 10em;
    float: right;
    margin: .5em;
}

.container .boton{
    margin: 0;
    margin-top: 1%;
}

#turnoSpan {
    color: #FF6584;
}
 
#facilSpan {
    color: #6C63FF;
}

.grey {
    background-color: grey;
}

#filtrados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
}

.cartaMedica, #modal{
    background-color: white;
    box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    -webkit-box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    border-radius: 30px;
    width: 94%;
    margin: 2%;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    font-weight: bold;
    font-size: .8em;
    padding: 6em;
    line-height: 3em;
    text-align: center;
    z-index: 1;
    position: fixed;
}

.hidden {
    visibility: hidden;
    /* display: none; */
}

.opacity {
    opacity: 0.8;
}


#infoMedico, .turnos{
    display: flex;
}

.turnos{
    justify-content: space-evenly;
    margin: 4%;
}

#infoMedico{
    justify-content: space-between;
}

#infoMedico h3{
    font-size: 1em;
    margin: 2% 5%;
}

.dia-turno-div {
    -webkit-box-shadow: 0px 4px 4px 0px rgb(61 56 56 / 47%);
    border-radius: 20px;
    text-align: center;
    width: 28%;
    height: 30%;
    margin: 0% .5%;
    padding-bottom: 2.5%;
}

.dia-header-pink {
    background-color: #FF6584;
    height: 20%;
}

.dia-header {
    background-color: grey;
    height: 20%;
}

.dia-header p{
    font-weight: bold;
}

.dia-header p, .horario p{
    font-size: .8rem;
    text-align: center;
}

.horario{
    background-color: whitesmoke;
    border-radius: 20px;
    margin: -5% 3%;
}

.blue {
    background-color: #6C63FF;
}


