html{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}
body{
    height:100vh;
    min-height: 100%;    
}

body p, body span, body input, body button{
    font-size: 16px;
}
body a, body label{
    font-size: 20px;
}

body p{
    color: #2F2E41;
}
body a{
    color: #6C63FF;
}

body ul, body ol{
    list-style-type: none;
}

.container{
    margin-top:2%;
}

#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#main_introduccion{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#main_introduccion div{
    justify-content: space-around;
    flex-basis: 50%;
}

#main_introduccion p{
    text-align: center;
    flex-basis: -webkit-fit-content;
    flex-basis: -moz-fit-content;
    flex-basis: fit-content;
}

#main_login{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20%;
    justify-content: center;
    margin: 10%;
}

.invisible{
    visibility: hidden !important;
    display: none;
}

.visible{
    visibility: visible !important;
    display: flex;
}

#main_login .container{
    box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    -webkit-box-shadow: 2px 9px 28px 0px rgba(61,56,56,0.75);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 2; 
}

#main_login div{
    justify-content: space-around;
    flex-basis: auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
#main_login ol{
    text-align: center;
}
#main_login ol, #main_login form{
    width: 100%;
}

#main_login form{
    display: flex;
    flex-direction: column;   
}

#input_submit{
    align-self: center;
    margin-top: 10%;
}

#main_login form label, #main_login form span{
    text-align: left;
}

#main_login #input_dni{
    background-color: #C4C4C4;
}

#main_login span{
    color: #7D7D7D;
}

#btn_pacientes, #btn_institucional{
    height: 69px;
    width: 215px;
}

body button, input[type=submit]{
    background-color: #6C63FF;
    border-radius: 50px;
    color: white;
    height: 50px;
    width: 185px;
    float: right;
}

button:active{
    background-color: #FF6584;
}

#turnoSpan{
    color: #FF6584;
}
#facilSpan{
    color: #6C63FF;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}